In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install openpyxl
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.10/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.10/dist-packages (from mlxtend) (3.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from mlxtend) (67.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.16.0)

In [3]:
%cd /content/drive/MyDrive/Colab Notebooks/

/content/drive/MyDrive/Colab Notebooks

In [4]:
import pandas as pd
netflix_data = pd.read_csv("new_netflix_datas.csv")
netflix_data.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
2,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
3,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niew√∂hner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
4,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [5]:
user_data = pd.read_csv("fake_user_data.csv")
user_data.head(5)

,User ID,Username,Country,Watched Title,Age,Date Watched,Percentage Watched
0,1,henryjohnny,Azerbaijan,Kingdom,51,2022-12-02,77
1,1,henryjohnny,Azerbaijan,Holidate,51,2020-05-11,39
2,1,henryjohnny,Azerbaijan,Holly Star,51,2021-08-14,85
3,1,henryjohnny,Azerbaijan,The Panti Sisters,51,2021-12-24,54
4,1,henryjohnny,Azerbaijan,Dream/Killer,51,2021-06-08,66

In [6]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
#Prepare the data for association learning by grouping the user-watched titles by username:
watched_titles = user_data.groupby('Username')['Watched Title'].apply(list).reset_index()
tr_data = list(watched_titles['Watched Title'].values)

In [7]:
watched_titles.head(1000)

          Username                                      Watched Title
0          aaron34  [Dhh, Penguin Bloom, I Will Follow, Sebastian ...
1      aaronhayden  [Intuition, Inception, GIMS: On the Record, Ta...
2       adamfields  [Wind River, Uncle Naji in UAE, Muqaddar ka Fa...
3       adamwillis  [Zoot Suit, Best of the Best, Thimmarusu, I Am...
4    adrianjenkins  [Soy Rada: Serendipity, Bygones Be Bygones, Al...
..             ...                                                ...
394   youngvalerie  [Ragini MMS 2, Mortal Kombat, Truckbhar Swapna...
395      zachary13  [Special 26, Girls With Balls, Edge of Sevente...
396       zbeltran  [Rob Schneider: Asian Momma, Mexican Kids, Red...
397         zgreen  [Bill Burr: Paper Tiger, Guatemala: Heart of t...
398       zrobbins  [Rising High, The Willoughbys, Same Kind of Di...

[399 rows x 2 columns]

In [8]:
# Apply TransactionEncoder to convert transaction list to encoded format
te = TransactionEncoder()
te_ary = te.fit(tr_data).transform(tr_data)
te_ary = te_ary.astype(int)
encoded_df = pd.DataFrame(te_ary, columns=te.columns_)

In [9]:
encoded_df.head()

,#Alive,#AnneFrank - Parallel Stories,#FriendButMarried,#FriendButMarried 2,#Selfie,#Selfie 69,'76,10 Days in Sun City,100% Halal,122,...,Zathura,Zindagi Na Milegi Dobara,Zoot Suit,Zozo,Zo√©: Panoramas,"¬°Ay, mi madre!",√áarsi Pazar,√íl√≤t≈´r√©,ƒ∞stanbul Kƒ±rmƒ±zƒ±sƒ±,ÿßŸÑŸÅ ŸÖÿ®ÿ±ŸàŸÉ
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
frequent_itemsets = apriori(encoded_df, min_support=0.005, use_colnames=True)
frequent_itemsets

        support                                           itemsets
0      0.015038                                           (#Alive)
1      0.010025                    (#AnneFrank - Parallel Stories)
2      0.012531                                (#FriendButMarried)
3      0.017544                              (#FriendButMarried 2)
4      0.022556                                          (#Selfie)
...         ...                                                ...
10113  0.005013  (Aruna & Her Palate, Thiago Ventura: POKAS, Co...
10114  0.005013  (Parker, MFKZ, Babamƒ±n Ceketi, Magnificent, Ma...
10115  0.005013  (√íl√≤t≈´r√©, Before I Fall, Daniel Sosa: Maleduca...
10116  0.005013  (The App That Stole Christmas, Miracle in Cell...
10117  0.005013  (Willy and the Guardians of the Lake: Tales fr...

[10118 rows x 2 columns]

In [15]:
# Generate association rules from the frequent itemsets
association_results = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.01)
association_results

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(#Alive),(A Trip to Jamaica),0.015038,0.032581,0.007519,0.500000,15.346154,0.007029,1.934837
1,(A Trip to Jamaica),(#Alive),0.032581,0.015038,0.007519,0.230769,15.346154,0.007029,1.280451
2,(Bhangra Paa Le),(#Alive),0.015038,0.015038,0.005013,0.333333,22.166667,0.004786,1.477444
3,(#Alive),(Bhangra Paa Le),0.015038,0.015038,0.005013,0.333333,22.166667,0.004786,1.477444
4,(#Alive),(Crocodile Dundee in Los Angeles),0.015038,0.025063,0.005013,0.333333,13.300000,0.004636,1.462406
...,...,...,...,...,...,...,...,...,...
21815,(Willy and the Guardians of the Lake: Tales fr...,"(Major Payne, Payday, Uyare, Vampires vs. the ...",0.012531,0.005013,0.005013,0.400000,79.800000,0.004950,1.658312
21816,(Uyare),"(Major Payne, Payday, Willy and the Guardians ...",0.012531,0.005013,0.005013,0.400000,79.800000,0.004950,1.658312
21817,(Major Payne),"(Payday, Willy and the Guardians of the Lake: ...",0.020050,0.005013,0.005013,0.250000,49.875000,0.004912,1.326650
21818,(Payday),"(Major Payne, Willy and the Guardians of the L...",0.027569,0.005013,0.005013,0.181818,36.272727,0.004874,1.216096
21819,(Vampires vs. the Bronx),"(Major Payne, Payday, Willy and the Guardians ...",0.025063,0.005013,0.005013,0.200000,39.900000,0.004887,1.243734

In [16]:
def generate_recommendations(watching_title):
    # Find matching association rules for the user's selected show and sort by confidence
    matching_rules = association_results[association_results['antecedents'] == frozenset([watching_title])]
    matching_rules = matching_rules.sort_values('confidence', ascending=False)
     # Get recommended shows from the association rules
    recommended_shows = [item for sublist in matching_rules['consequents'].apply(list) for item in sublist]
    return recommended_shows[:3]

In [19]:
import random
recommendations = generate_recommendations(random.choice(netflix_data.title))
recommendations

['Dancing Queens', 'Elf Pets: Santa‚Äôs Reindeer Rescue', 'Romantik Komedi']

In [20]:
import pickle
# pickle
pickle.dump(association_results, open('association_model.pkl', 'wb'))